<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/common/common :: head}"></div>
<body class="childrenBody">
<form class="layui-form" style="width:80%;" th:object="${setting}">
    <input name="settingId" type="hidden" th:value="*{settingId}">
    <input name="_method" type="hidden" th:value="PUT">

    <div class="layui-form-item">
        <label class="layui-form-label">参数名称</label>
        <div class="layui-input-block">
            <input type="text" name="settingName" th:value="*{settingName}" lay-verify="required|settingName" autocomplete="off" placeholder="参数名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">cookies</label>
        <div class="layui-input-block">
            <input type="radio" name="cookiesEnabled" value="0" th:field="*{cookiesEnabled}" title="开启">
            <input type="radio" name="cookiesEnabled" value="1" th:field="*{cookiesEnabled}" title="禁用">
        </div>
    </div>

    <div class="layui-row">
        <div class="magb15 layui-col-md6">
            <label class="layui-form-label">并发请求数</label>
            <div class="layui-input-block">
                <input type="number" min="0" max="32" class="layui-input" name="concurrentRequests" th:value="*{concurrentRequests}" placeholder="并发请求数">
            </div>
        </div>
        <div class="magb15 layui-col-md6">
            <label class="layui-form-label">域名并发数</label>
            <div class="layui-input-block">
                <input type="number" min="0" max="16" class="layui-input" name="concurrentRequestsPerDomain" th:value="*{concurrentRequestsPerDomain}" placeholder="域名并发数">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">自动限速</label>
        <div class="layui-input-block">
            <input type="radio" name="autothrottleEnabled" value="0" th:field="*{autothrottleEnabled}" title="开启">
            <input type="radio" name="autothrottleEnabled" value="1" th:field="*{autothrottleEnabled}" title="禁用">
        </div>
    </div>

    <div class="layui-row">
        <div class="magb15 layui-col-md6">
            <label class="layui-form-label">最小下载延迟</label>
            <div class="layui-input-block">
                <input type="number" min="0" class="layui-input" name="downloadDelay" th:value="*{downloadDelay}" placeholder="最小下载延迟（单位：秒）">
            </div>
        </div>
        <div class="magb15 layui-col-md6">
            <label class="layui-form-label">最大下载延迟</label>
            <div class="layui-input-block">
                <input type="number" min="0" class="layui-input" name="autothrottleMaxDelay" th:value="*{autothrottleMaxDelay}" placeholder="最大下载延迟（单位：秒）">
            </div>
        </div>
    </div>


    <div class="layui-row">
        <div class="magb15 layui-col-md6">
            <label class="layui-form-label">初始下载延迟</label>
            <div class="layui-input-block">
                <input type="number" min="0" class="layui-input" name="autothrottleStartDelay" th:value="*{autothrottleStartDelay}"  placeholder="初始下载延迟（单位：秒）">
            </div>
        </div>
        <div class="magb15 layui-col-md6">
            <label class="layui-form-label">并行请求平均数</label>
            <div class="layui-input-block">
                <input type="number" min="0" class="layui-input" name="autothrottleTargetConcurrency" th:value="*{autothrottleTargetConcurrency}" placeholder="并行请求平均数">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">爬取深度</label>
        <div class="layui-input-block">
            <input type="number" min="0" name="depthLimit" th:value="*{depthLimit}" autocomplete="off" placeholder="爬取深度（0代表无限制）" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">爬取策略</label>
        <div class="layui-input-block">
            <input type="radio" name="depthPriority" value="0" th:field="*{depthPriority}" title="深度优先">
            <input type="radio" name="depthPriority" value="1" th:field="*{depthPriority}" title="广度优先">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">缓存</label>
        <div class="layui-input-block">
            <input type="radio" name="httpcacheEnabled" value="0" th:field="*{httpcacheEnabled}" title="开启">
            <input type="radio" name="httpcacheEnabled" value="1" th:field="*{httpcacheEnabled}" title="禁用">
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="setting_submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<div th:replace="~{admin/common/common :: script}"></div>

<script type="text/javascript" th:inline="javascript">
    var settingName = [[${setting.settingName}]];

    form.verify({
        settingName: function (value) {
            var msg = '';
            if (settingName != value) {
                $.ajax({
                    url: "/data/setting/verify",
                    type: "GET",
                    async: false,
                    data: {
                        settingName: value
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.code === code_fail) {
                            msg = data.msg;
                        }
                    }
                });
            }
            return msg;
        }
    });

    layui.formSubmit('setting_submit', '/data/setting/update');

</script>
</body>
</html>
