<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/common/common :: head}"></div>
<body class="childrenBody">
<blockquote class="layui-elem-quote quoteBox">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input id="areaSearch" type="text" class="layui-input searchVal" placeholder="请输入区域名"/>
        </div>
        <a class="search_btn layui-btn" data-type="reload" id="areaRefresh">搜索</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal" id="areaAdd">添加区域</a>
    </div>
    <div class="layui-inline">
        <a id="areaDelete" class="layui-btn layui-btn-danger layui-btn-normal">批量删除</a>
    </div>
</blockquote>
<table id="areaList" lay-filter="areaList"></table>
<div th:replace="~{admin/common/common :: script}"></div>

<!-- 级别 -->
<script type="text/html" id="level">
    {{#  if(d.level == 0){ }}
    <span class="layui-btn layui-btn-xs">省份</span>
    {{#  } else if(d.level == 1){ }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">城市</span>
    {{#  } else if(d.level == 2){ }}
    <span class="layui-btn layui-btn-warm layui-btn-xs">区域</span>
    {{#  }}}
</script>

<!-- 操作 -->
<script type="text/html" id="areaListBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="fa fa-edit"></i>编辑</a>
    {{#  if(d.level != 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="level-down"><i class="fa fa-level-down"></i>查看下级</a>
    {{#  }}}
    {{#  if(d.level != 0){ }}
    <a class="layui-btn layui-btn-xs" lay-event="level-up"><i class="fa fa-level-up"></i>查看上级</a>
    {{#  }}}
</script>

<script type="text/javascript">
    layui.use(['table'], function () {
        var table = layui.table;

        var tableIns = table.render({
            elem: '#areaList' //指定原始表格元素选择器（推荐id选择器）
            , id: 'areaListTable'
            , url: '/data/area/list'
            , page: true
            , height: "full-125"
            , limit: 10
            , limits: [10, 15, 20, 25, 30]
            , request: {
                pageName: 'curr' //页码的参数名称，默认：page
            }
            , where: {
                parentId: 0
            }
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.pageBean.count, //解析数据长度
                    "data": res.pageBean.data //解析数据列表
                };
            }
            , cols: [ //二维数组的符号不要连在一起，因为[\[…\]]之间的表达式在thymeleaf被认为是内联表达式,会渲染错误
                [
                    {field: 'id', checkbox: true, fixed: 'left', width: 50}
                    , {field: 'cnName', title: '区域', align: 'center', width: 260}
                    , {field: 'level', title: '级别', align: 'center', width: 120, templet: '#level' }
                    , {title: '操作', width: 280, toolbar: '#areaListBar', align: "center", fixed: "right"}
                ]
            ]
        });

        //监听工具条
        table.on('tool(areaList)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值

            if (layEvent === 'edit') {
                alertByFull("编辑区域", "/sys/user/info/" + data.userId);
            } else if (layEvent === 'level-down') {
                tableIns.reload({
                    where: {
                        parentId: data.id
                    }
                    ,page: {
                        curr: 1
                    }
                });
            } else if (layEvent === 'level-up') {
//                tableIns.reload({
//                    where: {
//                        parentId: data.id
//                    }
//                    ,page: {
//                        curr: 1
//                    }
//                });
            }
        });
    });
</script>
</body>
</html>