<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/common/common :: head}"></div>
<body class="childrenBody">
<blockquote class="layui-elem-quote quoteBox">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchVal" placeholder="请输入角色名"/>
        </div>
        <a class="search_btn layui-btn" data-type="reload" id="keywordRefresh">搜索</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal" id="roleAdd">添加角色</a>
    </div>
    <div class="layui-inline">
        <a id="roleDelete" class="layui-btn layui-btn-danger layui-btn-normal">批量删除</a>
    </div>
</blockquote>
<table id="roleList" lay-filter="roleList"></table>

<div th:replace="~{admin/common/common :: script}"></div>
</body>
</html>
<!-- 操作 -->
<script type="text/html" id="roleListBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</a>
</script>

<script type="text/javascript">
    var cols = [ //二维数组的符号不要连在一起，因为[\[…\]]之间的表达式在thymeleaf被认为是内联表达式,会渲染错误
        [
            {field: 'roleId', checkbox: true, fixed: 'left', width: 50}
            , {field: 'roleName', title: '角色名', align: 'center'}
            , {field: 'remark', title: '备注', align: 'center'}
            , {field: 'createUserName', title: '创建者', align: 'center'}
            , {field: 'createTime', title: '创建时间', align: 'center', templet: function (d) {
                    return moment(d.createTime).format("YYYY-MM-DD HH:mm:ss");
                }
              }
            , {title: '操作', width: 160, toolbar: '#roleListBar', fixed: "right", align: "center"}
        ]
    ];

    layui.renderTable('#roleList', 'roleListTable', '/sys/role/list', cols);

    keywordSearch('roleListTable');

    $("#roleAdd").click(function () {
        alertByFull("添加角色", "/sys/role/forward/Add");
    });

    $("#roleDelete").click(function () {
        layer.confirm('确认删除所选角色?', {icon: 3, title: '提示'}, function (index) {
            var checkStatusData = table.checkStatus('roleListTable').data; //获取表格选中行
            var deleteIds = [];
            checkStatusData.forEach(function (val, index) {
                deleteIds.push(val.roleId);
            });
            doBatch(deleteIds, "/sys/role/delete", "DELETE");
            layer.close(index);
        });
    });

    //监听工具条
    table.on('tool(roleList)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

        if (layEvent === 'edit') { //修改
            alertByFull("编辑角色", "/sys/role/info/" + data.roleId);
        }  else if (layEvent === 'delete') { // 删除
            layer.confirm('确认删除角色?', {icon: 3, title: '提示'}, function (index) {
                var selectIds = [];
                selectIds.push(data.roleId);
                doBatch(selectIds, "/sys/role/delete", "DELETE");
                layer.close(index);
            });
        }
    });
</script>