<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/common/common :: head}"></div>
<body class="childrenBody">
<!--<button onclick="loadclusterList(true)">表格重载</button>-->
<!--<table class="layui-table" lay-skin="line" lay-filter="clusterList" lay-data="{id: 'clusterListTable'}">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th lay-data="{field:'status', align: 'center', width:120}">状态</th>-->
        <!--<th lay-data="{field:'ip', align: 'center'}">master节点IP</th>-->
        <!--<th lay-data="{field:'node', align: 'center'}">slave节点数</th>-->
        <!--<th lay-data="{title:'操作', width:220, align: 'center', toolbar: '#uploadBar', fixed:'right'}"></th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody id="cluster_list_body"></tbody>-->
<!--</table>-->

<table id="clusterList" lay-filter="clusterList"></table>

<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM style="width: 1200px;height:500px;"> -->
<div id="real-time"></div>

<!-- 状态 -->
<script type="text/html" id="status">
    {{#  if(d.status == 0){ }}
    <span class="layui-btn layui-btn-xs">正常</span>
    {{#  } else if(d.status == 1){ }}
    <span class="layui-btn layui-btn-warm layui-btn-xs">爬虫暂停</span>
    {{#  } else if(d.status == 6){ }}
    <span class="layui-btn layui-btn-danger layui-btn-xs">爬虫运行</span>
    {{#  }}}
</script>

<!-- 操作 -->
<script type="text/html" id="clusterListBar">
    <a class="layui-btn layui-btn-xs" lay-event="deploy"><i class="layui-icon">&#xe652;</i>开始</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="resumed"><i class="layui-icon">&#xe669;</i>恢复</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="paused"><i class="layui-icon">&#xe651;</i>暂停</a>
</script>

<div th:replace="~{admin/common/common :: script}"></div>
<script th:src="@{/lib/js/plugin/sockjs.min.js}"></script>
<script th:src="@{/lib/js/plugin/stomp.min.js}"></script>
<script th:src="@{/lib/js/plugin/echarts.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var stompClient = null;
    var itemStyle, sizeFunction, option;

    // 基于准备好的dom，初始化echarts实例
    var echartsDOM = document.getElementById('real-time');
    echartsDOM.style.width = $(document.body).width(); // 浏览器当前窗口文档body的高度
    echartsDOM.style.height = "500px";
    var scheduleCharts = echarts.init(echartsDOM);

    // 数据进度
    var schedule = {
        "node" : [

        ],
        "series" : [
        ]
    };

    // 根据节点ID记录时间
    var timeRecord = new Map();

    // 表格渲染
    tableIns = table.render({
        elem: "#clusterList" //指定原始表格元素选择器（推荐id选择器）
        , id: "clusterListTable"
        , url: "/data/spider/cluster"
        , height: 80
        , skin: "nob"
        , parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
//                "count": res.pageBean.count, //解析数据长度
                "data": res.pageBean.data //解析数据列表
            };
        }
        , cols: [
            [
                {type:'checkbox'}
                , {field: 'status', title: '状态', align: 'center', width:120, templet: '#status'}
                , {field: 'ip', title: 'master节点IP', align: 'center'}
                , {field: 'node', title: 'slave节点数', align: 'center'}
                , {title: '操作', width:220, toolbar: '#clusterListBar', fixed: "right", align: "center"}
            ]
        ]
    });

    initEcharts();

    //监听工具条
    table.on('tool(clusterList)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var spiderId = [[${spiderId}]];
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

        if (layEvent === 'deploy') { //开始
            if (data.status == 1 || data.status == 6) {
                layer.msg("操作无效", function(){});
            } else {
                $.post("/data/spider/deploy", {
                    spiderId : spiderId
                }, function (value) {
                    if (value.code === code_success) {
                        layer.msg(value.msg, {time: loadingTime});
                        setTimeout(function() {
                            tableIns.reload(); //表格重载
                        }, loadingTime);
                    } else {
                        layer.msg(value.msg, {icon: 2, anim: 6, time: 1000});
                    }
                });
            }
        } else if (layEvent === 'resumed') { // 恢复
            if (data.status == 0 || data.status === 6) {
                layer.msg("操作无效", function(){});
            } else {
                $.post("/data/spider/resumed", function (value) {
                    if (value.code === code_success) {
                        layer.msg(value.msg, {time: loadingTime});
                        setTimeout(function() {
                            tableIns.reload(); //表格重载
                        }, loadingTime);
                    } else {
                        layer.msg(value.msg, {icon: 2, anim: 6, time: 1000});
                    }
                });
            }
        } else if (layEvent === 'paused') { // 暂停
            if (data.status == 0 || data.status == 1) {
                layer.msg("操作无效", function(){});
            } else {
                $.post("/data/spider/paused", function (value) {
                    if (value.code === code_success) {
                        layer.msg(value.msg, {time: loadingTime});
                        setTimeout(function() {
                            tableIns.reload(); //表格重载
                        }, loadingTime);
                    } else {
                        layer.msg(value.msg, {icon: 2, anim: 6, time: 1000});
                    }
                });
            }
        }
    });



//    function loadclusterList(reload) {
//        $.get("/data/spider/check", function (data) {
//            if (data.code === code_success) {
//                $("#cluster_list_body").html(data.data);
//                    if (reload) {
//                        console.log("重载=======");
//                        table.reload('clusterListTable');
//                    } else {
//                        table.init('clusterList', {
//                            height: 80
//                        });
//                    }
//
//            } else {
//                layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
//            }
//        });
//    }

    function initEcharts() {
        itemStyle = {
            normal: {
                opacity: 0.8,
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowOffsetY: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        };

        sizeFunction = function (x) {
            var y = Math.sqrt(x / 5e1) + 0.1;
            return y * 80;
        };

        // Schema:
        var schema = [
            {name: 'speed', index: 0, text: '平均速度', unit: '条/分钟'},
            {name: 'data', index: 1, text: '数据', unit: '条'},
            {name: 'node', index: 2, text: '节点', unit: ''}
        ];

        option = {
            backgroundColor: '#404a59',
            title: [{
                text: 0,
                textAlign: 'center',
                left: '73%',
                top: '58%',
                textStyle: {
                    fontSize: 100,
                    color: 'rgba(255, 255, 255, 0.7)'
                }
            }, {
                text: '各国人均寿命与GDP关系演变',
                left: 'center',
                top: 10,
                textStyle: {
                    color: '#aaa',
                    fontWeight: 'normal',
                    fontSize: 20
                }
            }],
            tooltip: { // 提示框组件
                padding: 5,
                backgroundColor: '#222',
                borderColor: '#777',
                borderWidth: 1,
                formatter: function (obj) { // 提示框浮层内容格式器，支持字符串模板和回调函数两种形式
                    var value = obj.value;
                    return schema[2].text + '：' + value[2] + '<br>'
                        + schema[0].text + '：' + value[0] + '&nbsp;' + schema[0].unit + '<br>'
                        + schema[1].text + '：' + value[1] + '&nbsp;' + schema[1].unit + '<br>';
                }
            },
            grid: {
                top: 100,
                containLabel: true,
                left: 40,
                right: '100'
            },
            xAxis: {
                type: 'value',
                name: '速度(条/分钟)',
                max: 1000,
                min: 0,
                nameGap: 25,
                nameLocation: 'middle',
                nameTextStyle: {
                    fontSize: 18
                },
                splitLine: {
                    show: false
                },
                axisLine: {
                    lineStyle: {
                        color: '#ccc'
                    }
                },
                axisLabel: {
                    formatter: '{value} '
                }
            },
            yAxis: {
                type: 'value',
                name: '数据(条)',
                max: 1000,
                min: 0,
                splitNumber: 10,
                nameTextStyle: {
                    color: '#ccc',
                    fontSize: 18
                },
                axisLine: {
                    lineStyle: {
                        color: '#ccc'
                    }
                },
                splitLine: {
                    show: false
                },
                axisLabel: {
                    formatter: '{value}'
                }
            },
            visualMap: [
                {
                    show: false,
                    dimension: 3, // 指定用数据的『哪个维度』，映射到视觉元素上
                    categories: schema.node, // 用于表示离散型数据（或可以称为类别型数据、枚举型数据）的全集
                    calculable: true,
                    precision: 0.1, // 数据展示的小数精度，默认为0，无小数点
                    textGap: 30, // 两端文字主体之间的距离，单位为px
                    textStyle: {
                        color: '#ccc'
                    },
                    inRange: { // 选中范围中的视觉配置
                        color: (function () { // 定义图形颜色映射的颜色列表
                            var colors = ['#bcd3bb', '#e88f70', '#edc1a5', '#9dc5c8', '#e1e8c8', '#7b7c68', '#e5b5b5', '#f0b489', '#928ea8', '#bda29a'];
                            return colors.concat(colors);
                        })()
                    }
                }
            ],
            series: [
                {
                    type: 'scatter', // 散点（气泡）图
                    itemStyle: itemStyle,
                    data: schema.series, // 系列中的数据内容数组。数组项通常为具体的数据项
                    symbolSize: function (val) { // val == data
                        return sizeFunction(val[0]);
                    }
                }
            ],
            animationDurationUpdate: 1000,
            animationEasingUpdate: 'quinticInOut'
        };
        scheduleCharts.setOption(option);
        connect();
    }


    function connect() {
        var socket = new SockJS('/endpointWisely'); // 连接SockJS的endpoint
        stompClient = Stomp.over(socket); // 创建STOMP协议的webSocket客户端
        stompClient.connect({}, function (frame) { // 连接webSocket的服务端
            console.log('开始进行连接Connected: ' + frame);
            // 订阅服务器的目标
            stompClient.subscribe('/topic/realTime', function (response) {
                if (JSON.parse(response.body).clientId) {
                    showEcharts(JSON.parse(response.body).clientId);
                }
            });
        });
    }

    function showEcharts(_clientId) {
        var clientId = _clientId;

        var series = schedule.series;
        if (schedule.node.indexOf(clientId) !== -1) {
            for (var i = 0; i < series.length; i++) {
                if (series[i].indexOf(clientId) !== -1) {
                    series[i][1] = series[i][1] + 1; // 数据数+1

                    var nowTime = new Date().getTime();
                    var difference = nowTime - timeRecord.get(clientId);
                    if (difference > 15000) { // 5s计算一次
                        var nowDataCount = series[i][1];
                        var lastDatCount = timeRecord.get(clientId + "-data");
                        series[i][0] = Math.round((nowDataCount - lastDatCount) / (difference / 60000));  // 计算速度(也是半径)
                        timeRecord.set(clientId + "-time", new Date().getTime()); // 重置时间戳
                        timeRecord.set(clientId + "-data", series[i][1]); // 重置数据量
                    }
                    break;
                }
            }
        } else {
            schedule.node.push(clientId);
            schedule.series.push([0, 1, clientId]);
            timeRecord.set(clientId + "-time", new Date().getTime()); // 记录时间戳
            timeRecord.set(clientId + "-data", 1)
            console.log("数据量====" + timeRecord.get(clientId + "-data"));
        }

        var dataCount = 0;
        for (var j = 0; j < series.length; j++) {
            dataCount += series[j][1];
        }

        scheduleCharts.setOption({
            title: {
                show: true,
                'text': dataCount + ''
            },
            visualMap: {
                show: false,
                dimension: 3, // 指定用数据的『哪个维度』，映射到视觉元素上
                categories: schedule.node, // 用于表示离散型数据（或可以称为类别型数据、枚举型数据）的全集
                calculable: true,
                precision: 0.1, // 数据展示的小数精度，默认为0，无小数点
                textGap: 30, // 两端文字主体之间的距离，单位为px
                textStyle: {
                    color: '#ccc'
                },
                inRange: { // 选中范围中的视觉配置
                    color: (function () { // 定义图形颜色映射的颜色列表
                        var colors = ['#bcd3bb', '#e88f70', '#edc1a5', '#9dc5c8', '#e1e8c8', '#7b7c68', '#e5b5b5', '#f0b489', '#928ea8', '#bda29a'];
                        return colors.concat(colors);
                    })()
                }
            },
            series: {
                type: 'scatter',
                itemStyle: itemStyle,
                data: schedule.series,
                symbolSize: function (val) { // 标记的大小
                    return sizeFunction(val[0]);
                }
            }
        });
    }
</script>
</body>
</html>
