<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/common/common :: head}"></div>
<body class="childrenBody">
<blockquote class="layui-elem-quote quoteBox">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchVal" placeholder="请输入关键字"/>
        </div>
        <a class="search_btn layui-btn" data-type="reload" id="keywordRefresh">搜索</a>
    </div>
    <div class="layui-inline">
        <a id="houseDelete" class="layui-btn layui-btn-danger layui-btn-normal">批量删除</a>
    </div>
</blockquote>

<table id="houseList" lay-filter="houseList"></table>
<div th:replace="~{admin/common/common :: script}"></div>

<!-- 操作 -->
<script type="text/html" id="houseListBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
</body>
</html>
<script type="text/javascript">
    var cols = [
        [
            {field: 'sourceUrlId', checkbox: true, fixed: 'left', width: 50}
            , {field: 'city', title: '城市', align: 'center', width: 100}
            , {field: 'region', title: '区域', align: 'center', width: 100}
            , {field: 'title', title: '标题', align: 'center', width: 160}
            , {field: 'price', title: '价格', align: 'center', width: 100, templet: '#isDynamic'}
            , {field: 'square', title: '面积', align: 'center', width: 100}
            , {field: 'houseType', title: '户型', align: 'center', width: 140}
            , {field: 'roomNum', title: '房间数', align: 'center', width: 60}
            , {field: 'rentWay', title: '出租方式', align: 'center', width: 60}
            , {field: 'community', title: '小区', align: 'center', width: 160}
            , {field: 'address', title: '地址', align: 'center', width: 160}
            , {field: 'description', title: '描述', align: 'center', width: 160}
            , {field: 'imgHref', title: '图片链接', align: 'center', width: 160}
            , {field: 'sourceUrl', title: '源链接', align: 'center', width: 160}
            , {field: 'website', title: '来源网站', align: 'center', width: 60}
            , {field: 'releaseTime', title: '发布时间', align: 'center', width: 130, templet: function (d) {
            return d.releaseTime != undefined ? moment(d.releaseTime).format("YYYY-MM-DD") : '';
        }
        }
            , {field: 'createTime', title: '执行时间', align: 'center', width: 160, templet: function (d) {
            return d.createTime != undefined ? moment(d.createTime).format("YYYY-MM-DD HH:mm:ss") : '';
        }
        }
            , {title: '操作', width: 160, toolbar: '#houseListBar', fixed: "right", align: "center"}
        ]
    ];

    layui.renderTable('#houseList', 'houseListTable', '/data/house/list', cols);

    keywordSearch('houseListTable');

    $("#houseDelete").click(function () {
        layer.confirm('确认删除所选房源?', {icon: 3, title: '提示'}, function (index) {
            var checkStatusData = table.checkStatus('houseListTable').data; //获取表格选中行
            var selectIds = [];
            checkStatusData.forEach(function (val, index) {
                selectIds.push(val.sourceUrlId);
            });

            doBatch(selectIds, "/data/house/delete", "DELETE");
            layer.close(index);
        });
    });

    //监听工具条
    table.on('tool(houseList)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

        if (layEvent === 'edit') { //修改
            alertByFull("修改房源信息", "/data/house/info/" + data.sourceUrlId);
        } else if(layEvent === 'delete') {
            layer.confirm('确认删除房源?', {icon: 3, title: '提示'}, function (index) {
                var selectIds = [];
                selectIds.push(data.sourceUrlId);
                doBatch(selectIds, "/data/house/delete", "DELETE");
                layer.close(index);
            });
        }
    });

</script>